body {
    background-color: #2f2fa2;
    color: white;
    font-family:'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.app_title {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 85px;

}
.button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 28px;
}

#category_chooser {
    visibility: visible;
}
button {
    appearance: button;
    background-color: #321D87;
    border: 1px solid #321D87;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family:'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.15;
    overflow: visible;
    padding: 20px 112px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

#offensive_button:hover {
    background-color:#2828ff;
}

.dropdown_container {
    position: relative;
    display: inline-block;
   
}

#dropdown_container_2 {
    height: 300px;
    visibility: hidden;
    overflow: auto;
    border-radius: 20px;
    
   
}


.dropdown_content {
    
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y:auto;
   
    
    
}

.dropdown_content h4 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown_buttons {
    margin-left: 5px;
    margin-right: 5px;
}




.dropdown_content:hover {
    visibility: visible;
    overflow-y: auto;
}

.dropdown_content h4:hover {
    background-color: rgb(220, 220, 220);
    color: #2f2fa2;
}

#submit_button {
    background-color: #363643;
}

#graph_data {
    visibility: hidden;
}

#g_container {
    background-color: #111111;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.plot-container.plotly {
    width: 600px;
}

.filter_button_cont {
    
}